body {
2   background-color:white;
3 }
.box1 {
border-style: dotted; margin: 100px;
height:300px; color: purple}
.text{
color: black; font-size: 15px; padding-top: 250px; text-align: center;  }
.text2{color: orange;text-align:left;font-size:50px }
.redTxT{color: red; vertical-align:super; font-size:50px;}
