body {
background-color:lightblue;
}
#content {font-family: sans-serif;
background-color: #3F4F6F;
position:fixed;
text-align:center;
display:inline-block;
height: 900px;
font-size: 16px;
color:#818CA2
border: solid
 }
 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: blue;
  text-align: center;
 }
